registry=https://pkgs.dev.azure.com/tunstallgroup/IHCP/_packaging/tunstall-ui/npm/registry/ 
always-auth=true

; begin auth token
//pkgs.dev.azure.com/tunstallgroup/IHCP/_packaging/tunstall-ui/npm/registry/:username="tunstall-ui"
//pkgs.dev.azure.com/tunstallgroup/IHCP/_packaging/tunstall-ui/npm/registry/:_password=NjZ6aGlraG8yb3E0dXV6N2U2cnNraXhyaDd4cWxueGI2ZXN4NG4ydGp3azN1eHE2ZWl0cQ==
//pkgs.dev.azure.com/tunstallgroup/IHCP/_packaging/tunstall-ui/npm/registry/:email="asas.innab@tunstallnordic.com"
//pkgs.dev.azure.com/tunstallgroup/IHCP/_packaging/tunstall-ui/npm/:username="tunstall-ui"
//pkgs.dev.azure.com/tunstallgroup/IHCP/_packaging/tunstall-ui/npm/:_password=NjZ6aGlraG8yb3E0dXV6N2U2cnNraXhyaDd4cWxueGI2ZXN4NG4ydGp3azN1eHE2ZWl0cQ==
//pkgs.dev.azure.com/tunstallgroup/IHCP/_packaging/tunstall-ui/npm/:email="asas.innab@tunstallnordic.com"
; end auth token